In [2]:
# importing the necessary libraries
import pandas as pd
import numpy as np

import random
import warnings
warnings.filterwarnings('ignore')


from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [65]:
data=pd.read_csv('/content/yds_data.csv')

In [66]:
data.head()

   Unnamed: 0  match_event_id  ...  remaining_sec.1  distance_of_shot.1
0           0            10.0  ...          54.2000                38.0
1           1            12.0  ...          22.0000                35.0
2           2            35.0  ...          63.7216                54.4
3           3            43.0  ...          52.0000                42.0
4           4           155.0  ...          19.0000                20.0

[5 rows x 28 columns]

In [67]:
data.shape

(30697, 28)

In [68]:
#data preprocessing
data.describe()

         Unnamed: 0  match_event_id  ...  remaining_sec.1  distance_of_shot.1
count  30697.000000    29134.000000  ...     29158.000000        29129.000000
mean   15348.000000      249.576028  ...        39.027303           38.801852
std     8861.604943      150.186019  ...        29.835284           18.787711
min        0.000000        2.000000  ...         0.000000            9.400000
25%     7674.000000      111.000000  ...        17.000000           26.000000
50%    15348.000000      254.000000  ...        35.000000           36.000000
75%    23022.000000      369.000000  ...        52.000000           44.000000
max    30696.000000      659.000000  ...       144.785600          115.728000

[8 rows x 18 columns]

In [69]:
#data type of features
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             30697 non-null  int64
 1   match_event_id         29134 non-null  float64
 2   location_x             29236 non-null  float64
 3   location_y             29157 non-null  float64
 4   remaining_min          29135 non-null  float64
 5   power_of_shot          29211 non-null  float64
 6   knockout_match         29180 non-null  float64
 7   game_season            24835 non-null  object
 8   remaining_sec          29103 non-null  float64
 9   distance_of_shot       29130 non-null  float64
 10  is_goal                24429 non-null  float64
 11  area_of_shot           29195 non-null  object
 12  shot_basics            29122 non-null  object
 13  range_of_shot          29133 non-null  object
 14  team_name              29162 non-null  object
 15  date_of_game           29147 non-null  object
 16  home/away              29200 non-null  object
 17  shot_id_number         29134 non-null  float64
 18  lat/lng                29132 non-null  object
 19  type_of_shot           15417 non-null  object
 20  type_of_combined_shot  15280 non-null  object
 21  match_id               30697 non-null  int64
 22  team_id                30697 non-null  int64
 23  remaining_min.1        29162 non-null  float64
 24  power_of_shot.1        29158 non-null  float64
 25  knockout_match.1       29204 non-null  float64
 26  remaining_sec.1        29158 non-null  float64
 27  distance_of_shot.1     29129 non-null  float64
dtypes: float64(15), int64(3), object(10)
memory usage: 6.6+ MB

In [70]:
#checking the null values
missing=pd.DataFrame({'null value':data.isnull().sum(),'percentage':(data.isnull().sum()/data.shape[0])*100})
missing.sort_values(['percentage'])

                       null value  percentage
Unnamed: 0                      0    0.000000
match_id                        0    0.000000
team_id                         0    0.000000
location_x                   1461    4.759423
power_of_shot                1486    4.840864
knockout_match.1             1493    4.863667
home/away                    1497    4.876698
area_of_shot                 1502    4.892986
knockout_match               1517    4.941851
team_name                    1535    5.000489
remaining_min.1              1535    5.000489
remaining_sec.1              1539    5.013519
power_of_shot.1              1539    5.013519
location_y                   1540    5.016777
date_of_game                 1550    5.049353
remaining_min                1562    5.088445
match_event_id               1563    5.091703
shot_id_number               1563    5.091703
range_of_shot                1564    5.094960
lat/lng                      1565    5.098218
distance_of_shot             1567    5.104733
distance_of_shot.1           1568    5.107991
shot_basics                  1575    5.130795
remaining_sec                1594    5.192690
game_season                  5862   19.096329
is_goal                      6268   20.418933
type_of_shot                15280   49.776851
type_of_combined_shot       15417   50.223149

In [71]:
#target value 
data.is_goal.unique()

array([nan,  0.,  1.])

In [72]:
#EDA

In [73]:
#dropping the unnecesary columns
data.columns

Index(['Unnamed: 0', 'match_event_id', 'location_x', 'location_y',
       'remaining_min', 'power_of_shot', 'knockout_match', 'game_season',
       'remaining_sec', 'distance_of_shot', 'is_goal', 'area_of_shot',
       'shot_basics', 'range_of_shot', 'team_name', 'date_of_game',
       'home/away', 'shot_id_number', 'lat/lng', 'type_of_shot',
       'type_of_combined_shot', 'match_id', 'team_id', 'remaining_min.1',
       'power_of_shot.1', 'knockout_match.1', 'remaining_sec.1',
       'distance_of_shot.1'],
      dtype='object')

In [74]:
data=data.drop(['remaining_min.1',
       'power_of_shot.1', 'knockout_match.1', 'remaining_sec.1',
       'distance_of_shot.1'],axis=1)

In [75]:
data.tail()

       Unnamed: 0  match_event_id  ...  match_id     team_id
30692       30692           397.0  ...  49900088  1610612747
30693       30693           398.0  ...  49900088  1610612747
30694       30694           426.0  ...  49900088  1610612747
30695       30695           448.0  ...  49900088  1610612747
30696       30696           471.0  ...  49900088  1610612747

[5 rows x 23 columns]

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             30697 non-null  int64
 1   match_event_id         29134 non-null  float64
 2   location_x             29236 non-null  float64
 3   location_y             29157 non-null  float64
 4   remaining_min          29135 non-null  float64
 5   power_of_shot          29211 non-null  float64
 6   knockout_match         29180 non-null  float64
 7   game_season            24835 non-null  object
 8   remaining_sec          29103 non-null  float64
 9   distance_of_shot       29130 non-null  float64
 10  is_goal                24429 non-null  float64
 11  area_of_shot           29195 non-null  object
 12  shot_basics            29122 non-null  object
 13  range_of_shot          29133 non-null  object
 14  team_name              29162 non-null  object
 15  date_of_game           29147 non-null  object
 16  home/away              29200 non-null  object
 17  shot_id_number         29134 non-null  float64
 18  lat/lng                29132 non-null  object
 19  type_of_shot           15417 non-null  object
 20  type_of_combined_shot  15280 non-null  object
 21  match_id               30697 non-null  int64
 22  team_id                30697 non-null  int64
dtypes: float64(10), int64(3), object(10)
memory usage: 5.4+ MB

In [77]:
data.date_of_game=pd.to_datetime(data.date_of_game,errors= 'coerce' )

In [78]:
data['game_season']=data['game_season'].astype('object')

In [79]:
data['game_season']

0        2000-01
1        2000-01
2        2000-01
3        2000-01
4        2000-01
          ...
30692    1999-00
30693    1999-00
30694    1999-00
30695    1999-00
30696    1999-00
Name: game_season, Length: 30697, dtype: object

In [80]:
#one hot encong the game session
l_uniq=data.game_season.unique()

In [81]:
v_unique=np.arange(0,len(data.game_season.unique()))

In [82]:
v_unique

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [83]:
data['game_season']=data.game_season.replace(to_replace=l_uniq,value=v_unique)

In [84]:
data.game_season.head()

0    0
1    0
2    0
3    0
4    0
Name: game_season, dtype: int64

In [85]:
#missing values
data.isnull().sum()

Unnamed: 0                   0
match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot             1486
knockout_match            1517
game_season                  0
remaining_sec             1594
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number            1563
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
dtype: int64

In [86]:
data.describe()

         Unnamed: 0  match_event_id  ...      match_id       team_id
count  30697.000000    29134.000000  ...  3.069700e+04  3.069700e+04
mean   15348.000000      249.576028  ...  2.476407e+07  1.610613e+09
std     8861.604943      150.186019  ...  7.755175e+06  0.000000e+00
min        0.000000        2.000000  ...  2.000001e+07  1.610613e+09
25%     7674.000000      111.000000  ...  2.050008e+07  1.610613e+09
50%    15348.000000      254.000000  ...  2.090035e+07  1.610613e+09
75%    23022.000000      369.000000  ...  2.960047e+07  1.610613e+09
max    30696.000000      659.000000  ...  4.990009e+07  1.610613e+09

[8 rows x 14 columns]

In [87]:
data['power_of_shot']=data['power_of_shot'].fillna(value=data.power_of_shot.mean())

In [88]:
data['type_of_combined_shot']=data['type_of_combined_shot'].fillna(value=data.type_of_combined_shot.mode())

In [89]:
data.type_of_combined_shot=data.type_of_combined_shot.fillna(value=data.type_of_combined_shot.mode())

In [90]:
data.isnull().sum()

Unnamed: 0                   0
match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec             1594
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number            1563
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15416
match_id                     0
team_id                      0
dtype: int64

In [91]:
# Filling NaN values in Column "remaining_sec" with MEDIAN
data['remaining_sec']=data['remaining_sec'].fillna(value=data.remaining_sec.mean())

In [92]:
# shot no.
data.shot_id_number=pd.Series(np.arange(1,data.shot_id_number.shape[0]+1))

In [94]:
data.location_x=data.location_x.fillna(value=0)
data.location_y=data.location_y.fillna(value=0)

In [95]:
data.isnull().sum()

Unnamed: 0                   0
match_event_id            1563
location_x                   0
location_y                   0
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number               0
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15416
match_id                     0
team_id                      0
dtype: int64

In [96]:
#using forward fill
coll = ['home/away','lat/lng', 'team_name','match_event_id', 'remaining_min', 'knockout_match']
data.loc[:,coll]=data.loc[:,coll].ffill()

In [97]:
data.isnull().sum()

Unnamed: 0                   0
match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot    15416
match_id                     0
team_id                      0
dtype: int64

In [102]:
mm=data.type_of_combined_shot.mode()
data['type_of_combined_shot']=data['type_of_combined_shot'].fillna(value=mm)

In [111]:
# Filling Missing Values In "range_of_short" based on "short_basics" column!

# if shot_basics is Goal Area, then range of shot is Less Than 8 ft
data.loc[(data.shot_basics == 'Goal Area'), 'range_of_shot']       = data[data.shot_basics == 'Goal Area'].range_of_shot.fillna(value='Less Than 8 ft.')
# if shot_basics is Penalty Spot, then range of shot is  24+ ft.
data.loc[(data.shot_basics == 'Penalty Spot'), 'range_of_shot']    = data[data.shot_basics == 'Penalty Spot'].range_of_shot.fillna(value= '24+ ft.')
# if shot_basics is Right Corner, then range of shot is  24+ ft.
data.loc[(data.shot_basics == 'Right Corner'), 'range_of_shot']    = data[data.shot_basics == 'Right Corner'].range_of_shot.fillna(value='24+ ft.')
# if shot_basics is Left Corner, then range of shot is  24+ ft.
data.loc[(data.shot_basics == 'Left Corner'), 'range_of_shot']     = data[data.shot_basics == 'Left Corner'].range_of_shot.fillna(value='24+ ft.')
# if shot_basics is Mid Ground Line , then range of shot is  Back Court Shot
data.loc[(data.shot_basics == 'Mid Ground Line'), 'range_of_shot'] = data[data.shot_basics == 'Mid Ground Line'].range_of_shot.fillna(value='Back Court Shot')
# if shot_basics is Mid Range then randomly assign '16-24 ft.' or  '8-16 ft.' to range of shot
data.loc[(data.shot_basics == 'Mid Range')&(data.range_of_shot.isnull()), 'range_of_shot']       = pd.Series(data[(data.shot_basics == 'Mid Range')&(data.range_of_shot.isnull())].range_of_shot.apply(lambda x: x if type(x)==str else np.random.choice(['16-24 ft.', '8-16 ft.'],1,p=[0.6527708850289495, 0.34722911497105047])[0]))
# if shot_basics is Goal Line then randomly assign ''8-16 ft.' or  'Less Than 8 ft.' to range of shot
data.loc[(data.shot_basics == 'Goal Line')&(data.range_of_shot.isnull()), 'range_of_shot']       = pd.Series(data[(data.shot_basics == 'Goal Line')&(data.range_of_shot.isnull())].range_of_shot.apply(lambda x: x if type(x)==str else np.random.choice(['8-16 ft.', 'Less Than 8 ft.'],1,p=[0.5054360956752839, 0.49456390432471614])[0]))

data.isnull().sum() # number of missing values for range_of_shot column should have been reduced

Unnamed: 0                   0
match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot               66
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot    15416
match_id                     0
team_id                      0
dtype: int64

In [112]:
# Filling the remaining missing values incase they both have NaN values using the forward fill method
data.shot_basics.fillna(method='ffill', inplace=True)
data.range_of_shot.fillna(method='ffill', inplace=True)
data.isnull().sum() # number of missing values for shot_basics and range_of_shot columns should be zero

Unnamed: 0                   0
match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot    15416
match_id                     0
team_id                      0
dtype: int64

In [113]:
data.area_of_shot.fillna(value='Center(C)', inplace=True) # all the missing values get filled by  'Centre(C)'
data.isnull().sum() # number of missing values for area_of_shot column should be zero

Unnamed: 0                   0
match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot                 0
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot    15416
match_id                     0
team_id                      0
dtype: int64

In [114]:
#Filling the Missing values in "distance_of_shot"
# if distance_of_shot isnull randomly assign a value from 20,45,44,37
data.loc[data['distance_of_shot'].isnull(), 'distance_of_shot'] = pd.Series(data.loc[data['distance_of_shot'].isnull(), 'distance_of_shot'].apply(lambda x: x if type(x)==str else np.random.choice([20,45,44,37],1,p=[0.5278056615137523,0.18630797028709095,0.14384661714515157,0.1420397510540052])[0])) 
data.isnull().sum() # number of missing values for distance_of_shot column should be zero

Unnamed: 0                   0
match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot                 0
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot    15416
match_id                     0
team_id                      0
dtype: int64

In [116]:
#handling the nan value type of shot
l_goal   = data[data.is_goal == 1].type_of_shot.value_counts().head(6).keys()     # Top six shots when it was goal
l_goal

Index(['shot - 4', 'shot - 39', 'shot - 44', 'shot - 36', 'shot - 15',
       'shot - 38'],
      dtype='object')

In [117]:
p_g_sum  = data[data.is_goal == 1].type_of_shot.value_counts().head(6).sum() # Top six shots when it was goal
p_goal   = (data[data.is_goal == 1].type_of_shot.value_counts().head(6) / p_g_sum ).tolist()  # There respective probablities
p_goal

[0.2682060390763766,
 0.19182948490230906,
 0.14653641207815277,
 0.1447602131438721,
 0.12966252220248667,
 0.11900532859680284]

In [120]:
# if is_goal is 1, if type of shot is a string value, fill with the same or else fill with randomly choosing value from l_goal
g = pd.Series(data[data.is_goal == 1].type_of_shot.apply(lambda x: x if type(x)==str else np.random.choice(l_goal,1,p=p_goal)[0]))
g

2        shot - 25
4        shot - 38
6        shot - 39
8        shot - 36
11       shot - 36
           ...
30672    shot - 33
30674    shot - 38
30676    shot - 44
30688    shot - 44
30694    shot - 44
Name: type_of_shot, Length: 10879, dtype: object

In [124]:
data.isnull().sum()

Unnamed: 0                   0
match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot                 0
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot              9867
type_of_combined_shot    15416
match_id                     0
team_id                      0
dtype: int64

In [123]:
# # if is_goal is 1, if type of shot is null then type of shot becomes equal to the value of g based on the index
data.loc[(data.is_goal == 1)&(data.type_of_shot.isnull()), 'type_of_shot'] = g

In [125]:
l_no_goal   = data[data.is_goal == 0].type_of_shot.value_counts().head(5).keys()     # Top five shots when it was not a goal
p_no_sum  = data[data.is_goal == 0].type_of_shot.value_counts().head(5).sum()
p_no_goal   = (data[data.is_goal == 0].type_of_shot.value_counts().head(5) / p_no_sum ).tolist() # There respective probablities 
ng = pd.Series(data[data.is_goal == 0].type_of_shot.apply(lambda x: x if type(x)==str else np.random.choice(l_no_goal,1,p=p_no_goal)[0]))
data.loc[(data.is_goal == 0)&(data.type_of_shot.isnull()), 'type_of_shot'] = ng 
data['type_of_shot'].isna().sum() # number of missing values got reduced to zero

3144

In [127]:
data.type_of_shot.unique()

array(['shot - 30', 'shot - 45', 'shot - 25', 'shot - 39', 'shot - 38',
       'shot - 17', nan, 'shot - 36', 'shot - 44', 'shot - 7',
       'shot - 15', 'shot - 12', 'shot - 6', 'shot - 4', 'shot - 20',
       'shot - 24', 'shot - 54', 'shot - 42', 'shot - 34', 'shot - 1',
       'shot - 37', 'shot - 14', 'shot - 21', 'shot - 9', 'shot - 0',
       'shot - 2', 'shot - 22', 'shot - 10', 'shot - 49', 'shot - 51',
       'shot - 52', 'shot - 46', 'shot - 32', 'shot - 11', 'shot - 56',
       'shot - 47', 'shot - 3', 'shot - 53', 'shot - 5', 'shot - 41',
       'shot - 40', 'shot - 19', 'shot - 16', 'shot - 55', 'shot - 23',
       'shot - 43', 'shot - 29', 'shot - 35', 'shot - 31', 'shot - 13',
       'shot - 26', 'shot - 28', 'shot - 33', 'shot - 50', 'shot - 8',
       'shot - 48', 'shot - 18', 'shot - 27'], dtype=object)

In [128]:
data.loc[data['type_of_shot'].isnull(), 'type_of_shot'] = pd.Series(data.loc[data['type_of_shot'].isnull(), 'type_of_shot'].apply(lambda x: x if type(x)==str else np.random.choice(['shot - 39', 'shot - 36', 'shot - 4'],1,p=[0.37377133988618727, 0.33419555095706155, 0.2920331091567512])[0]))

In [129]:
data['type_of_shot'].isna().sum()

0

In [132]:
data.type_of_combined_shot.unique()

array(['shot - 3', nan, 'shot - 1', 'shot - 4', 'shot - 5', 'shot - 2',
       'shot - 0'], dtype=object)

In [134]:
mm=data.type_of_combined_shot.mode()
mm

0    shot - 3
dtype: object

In [135]:
data['type_of_combined_shot']=data['type_of_combined_shot'].fillna(value=mm)

In [141]:
data.isnull().sum()

Unnamed: 0                   0
match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot                 0
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot                 0
type_of_combined_shot    15416
match_id                     0
team_id                      0
dtype: int64

In [142]:
data=data.drop(['type_of_combined_shot'],axis=1)

In [146]:
data.date_of_game.isna().sum()

1550

In [147]:
data=data.drop(['date_of_game'],axis=1)

In [167]:
data.isnull().sum()

match_event_id         0
location_x             0
location_y             0
remaining_min          0
power_of_shot          0
knockout_match         0
game_season            0
remaining_sec          0
distance_of_shot       0
is_goal             6268
area_of_shot           0
shot_basics            0
range_of_shot          0
team_name              0
home/away              0
shot_id_number         0
lat/lng                0
type_of_shot           0
match_id               0
team_id                0
dtype: int64

In [168]:
#data one hot encoding of object type data set
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_event_id    30697 non-null  float64
 1   location_x        30697 non-null  float64
 2   location_y        30697 non-null  float64
 3   remaining_min     30697 non-null  float64
 4   power_of_shot     30697 non-null  float64
 5   knockout_match    30697 non-null  float64
 6   game_season       30697 non-null  int64
 7   remaining_sec     30697 non-null  float64
 8   distance_of_shot  30697 non-null  float64
 9   is_goal           24429 non-null  float64
 10  area_of_shot      30697 non-null  object
 11  shot_basics       30697 non-null  object
 12  range_of_shot     30697 non-null  object
 13  team_name         30697 non-null  object
 14  home/away         30697 non-null  object
 15  shot_id_number    30697 non-null  int64
 16  lat/lng           30697 non-null  object
 17  type_of_shot      30697 non-null  object
 18  match_id          30697 non-null  int64
 19  team_id           30697 non-null  int64
dtypes: float64(9), int64(4), object(7)
memory usage: 4.7+ MB

In [174]:
for col in data.columns:
  if (data[col].dtypes==object):
    l_uniq=data[col].unique()
    v_uniq=np.arange(len(l_uniq))
    data[col].replace(to_replace=l_uniq,value=v_uniq,inplace=True)
    data[col]=data[col].astype('int')

In [175]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_event_id    30697 non-null  float64
 1   location_x        30697 non-null  float64
 2   location_y        30697 non-null  float64
 3   remaining_min     30697 non-null  float64
 4   power_of_shot     30697 non-null  float64
 5   knockout_match    30697 non-null  float64
 6   game_season       30697 non-null  int64
 7   remaining_sec     30697 non-null  float64
 8   distance_of_shot  30697 non-null  float64
 9   is_goal           24429 non-null  float64
 10  area_of_shot      30697 non-null  int64
 11  shot_basics       30697 non-null  int64
 12  range_of_shot     30697 non-null  int64
 13  team_name         30697 non-null  int64
 14  home/away         30697 non-null  int64
 15  shot_id_number    30697 non-null  int64
 16  lat/lng           30697 non-null  int64
 17  type_of_shot      30697 non-null  int64
 18  match_id          30697 non-null  int64
 19  team_id           30697 non-null  int64
dtypes: float64(9), int64(11)
memory usage: 4.7 MB

In [176]:
#train test spilt on the basis of target column
train=data[data.is_goal.notnull()]

In [177]:
train=train.set_index(np.arange(train.shape[0]))

In [178]:
train.head( )

   match_event_id  location_x  location_y  ...  type_of_shot  match_id     team_id
0            12.0      -157.0         0.0  ...             1  20000012  1610612747
1            35.0      -101.0       135.0  ...             2  20000012  1610612747
2            43.0       138.0       175.0  ...             3  20000012  1610612747
3           155.0         0.0         0.0  ...             4  20000012  1610612747
4           244.0      -145.0       -11.0  ...             5  20000012  1610612747

[5 rows x 20 columns]

In [179]:
test=data[data.is_goal.isnull()]

In [180]:
test=test.set_index(np.arange(test.shape[0]))

In [181]:
test.head()

   match_event_id  location_x  location_y  ...  type_of_shot  match_id     team_id
0            10.0       167.0        72.0  ...             0  20000012  1610612747
1           254.0         1.0        28.0  ...             6  20000012  1610612747
2           100.0         0.0         0.0  ...             6  20000019  1610612747
3           249.0         0.0         0.0  ...            12  20000019  1610612747
4           265.0       134.0       127.0  ...            14  20000019  1610612747

[5 rows x 20 columns]

In [182]:
#removing target column
y_train=train['is_goal']

In [183]:
train=train.drop(['is_goal'],axis=1)

In [184]:
test=test.drop(['is_goal'],axis=1)

In [185]:
test.columns

Index(['match_event_id', 'location_x', 'location_y', 'remaining_min',
       'power_of_shot', 'knockout_match', 'game_season', 'remaining_sec',
       'distance_of_shot', 'area_of_shot', 'shot_basics', 'range_of_shot',
       'team_name', 'home/away', 'shot_id_number', 'lat/lng', 'type_of_shot',
       'match_id', 'team_id'],
      dtype='object')

In [186]:
train.columns

Index(['match_event_id', 'location_x', 'location_y', 'remaining_min',
       'power_of_shot', 'knockout_match', 'game_season', 'remaining_sec',
       'distance_of_shot', 'area_of_shot', 'shot_basics', 'range_of_shot',
       'team_name', 'home/away', 'shot_id_number', 'lat/lng', 'type_of_shot',
       'match_id', 'team_id'],
      dtype='object')

In [189]:
#algorithm
from sklearn.ensemble import RandomForestClassifier

In [190]:
train.shape

(24429, 19)

In [191]:
y_train.shape

(24429,)

In [192]:
x_train,x_test,y_train,y_test=train_test_split(train,y_train,test_size=.30)

In [198]:
rf=RandomForestClassifier(n_estimators=500)
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [199]:
y_pred=rf.predict(x_test)

In [200]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)

In [201]:
acc

0.6441533633510711